<div class="app-container">
    <aside class="sidebar">
      <h2>GestãoDoc</h2>
  
      <nav>
        <a routerLink="/dashboard">Dashboard</a>
        <a routerLink="/documentos">Documentos</a>
        <a routerLink="/colaboradores">Colaboradores</a>
        <a routerLink="/workflow">Workflow</a>
      </nav>
    </aside>
  
    <main class="main-content">
      <header class="topbar">
        <span>Sistema de Gestão Documental</span>
      </header>
  
      <section class="page-content">
        <router-outlet />
      </section>
    </main>
  </div>